---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

let items=[]
for (let i=0;i<20;i++){items.push(i)}
---

<div id="container">
	<main class="p-10  bg-slate-500">
		<div class=" bg-slate-100 break-inside-avoid p-8 m-2">
			<h1 class="text-lg">rakugakichoo</h1>
		</div>
		<div class=" bg-slate-100 columns-3 space-x-0 p-8 m-2">
			<div class="aspect-square shadow-2xl rounded-2xl break-inside-avoid">
				Tailwindとやら、面白いね
			</div>

			{items.map((i)=>(
				<div class="aspect-square shadow-2xl rounded-2xl break-inside-avoid">{i}</div>
			)
			)}
		</div>

	</main>

</div>

<style>
</style>
